<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 <display-name>TP_Hibernate_Catalogue</display-name>
 <servlet>
  <servlet-name>ControlleurProduit</servlet-name>
  <servlet-class>com.tn.controller.ControlleurProduit</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ControlleurProduit</servlet-name>
  <url-pattern>*.php</url-pattern>
 </servlet-mapping>
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>ControlleurProduit</web-resource-name>
   <url-pattern>*.php</url-pattern>
   <http-method>GET</http-method>
   <http-method>POST</http-method>
  </web-resource-collection>
  <auth-constraint>
   <role-name>manager</role-name>
  </auth-constraint>
 </security-constraint>
 <login-config>
  <!-- <auth-method>BASIC</auth-method> -->
  <auth-method>FORM</auth-method>
  <realm-name>Authentification</realm-name>
  <form-login-config>
   <form-login-page>/index.jsp</form-login-page>
   <form-error-page>/index.jsp</form-error-page>
  </form-login-config>
 </login-config>
</web-app>
